<div class="footer-wrapper">
    <div class="footer">
        <span class="footer-copyright">
            © 2024 - DevOpsDave — All Rights Reserved.
        </span>

        <div class="footer-links">
            <ul>
                <li><a href="https://www.youtube.com/@devopsdave" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://kick.com/devopsdave" target="_blank"><i class="fa-brands fa-kickstarter-k"></i></a></li>
                <li><a href="https://DevOpsDave.net/discord" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/main.js"></script>